<html>
    <head>
        <title> Se connecter </title>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <h1><center>Se connecter </center></h1>
        <div id="div1">
            <form action="/loginEtu" method=post>
                <label for="identifiant">Numéro étudiant:</label><br>
                <input type="text" name="num" class="txtinput"> </input><br>
                <label for="mdp">Mot de passe:</label><br>
                <input type="password" name="mdp" class="txtinput"> </input><br>
                <input type="reset" value="Effacer">        
                <input type="submit" name="new" value="Se connecter" id="seconnecter"> </input>
                
            </form>
        </div>
        
        {%if retour==0%}
        <h3 style="text-align: center;">Numéro étudiant ou mot de passe incorrect !</h3>
        {%endif%}
    </body>
</html>